.tasks-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin-bottom: 20px;
  margin-top: 5px;
  width: 600%; 
  max-width: 1306px; 
  height: auto; 
  border: 1px solid #A35709;
  border-radius: 4px;
  padding: 10px;
  overflow-y: auto;
  background-color: #1B1A17;
}


.no-tasks {
  margin-top: 20px; 
  margin-bottom: 20px; 
  border-top: 2px solid #A35709;
  border-bottom: 2px solid #A35709;
  text-align: center; 
  color: white; 
  font-size: 25px;
}

.task-item {
  flex-basis: calc(25% - 20px); 
  background-color: #1F1E1B; 
  border: 1px solid #A35709;
  border-radius: 8px; 
  padding: 20px; 
  margin-bottom: 20px; 
  position: relative;
}
@media screen and (max-width: 768px) {
  .task-item {
    flex-basis: calc(50% - 20px); 
  }
}


@media screen and (max-width: 480px) {
  .task-item {
    flex-basis: calc(100% - 20px);
  }
}
